<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="metrics" type="Pbp.Metrics.Core.Configuration.MetricsConfiguration, Pbp.Metrics.Core" />
  </configSections>

  <metrics xmlns="http://paybyphone.com/metrics/configuration" enabled="true">
    <graphite address="127.0.0.1" port="2003" prefixKey="MetricsAPI" transport="Udp" includeMachineName ="true" enabled="false"/>
    <statsd address="127.0.0.1" port="8126" prefixKey="MetricsAPI" transport = "Udp" includeMachineName ="true" enabled="true"/>
    <metricsHttpModule requestTimePrefixKey ="request.time" requestCountPrefixKey="request.count" requestErrorCountPrefixKey="request.error.count"/>
  </metrics>

</configuration>